[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
awscli = "*"
pytest = "*"
PyYAML = ">=5.4"
urllib3 = ">=1.26.5"
rsa = ">=4.7"

[requires]
python_version = "3.7"
